.navbar-header {
  box-shadow: 0px 10px 10px -15px #111;
}

.logo-font {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  margin: 20px;
}

.my-orders-text {
  display: none;
}
.cart-icon-cont {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.cart-count-badge {
  display: flex;
  justify-content: Center;
  position: relative;
  top: -25px;
  bottom: -20px;
  left: -20px;
}

.cart-count {
  text-align: center;
  background-color: #ff6347;
  padding: 4px 2px 2px;
  color: #ffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  min-width: 25px;
  border-radius: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.my-orders-cart-alignment {
  display: flex;
  justify-content: Center;
  flex-direction: row;
  margin: 10px;
}
@media screen and (min-width: 769px) {
  .logo-font {
    font-size: 25px;
  }
  .my-orders-text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 28px;
    color: #585555;
    display: block;
    margin: 10px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
